# Build results
bin/
obj/

# User-specific files
.vscode/
.idea/
*.user
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Logs
logs/
*.log

# .NET Core dependencies
project.lock.json
project.assets.json
.nuget/
packages/
wwwroot/node_modules/
dist/

# Environment settings
appsettings.Development.json
secrets.json
.env

# Publish artifacts
out/
publish/
